@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #121214;
  color: #fff;
}

#__next {
  height: 100vh;
}

.css-b62m3t-container .css-13cymwt-control {
  @apply h-full bg-[#202024] border-[#323238] shadow-none hover:border-[#323238]
}

.css-1nmdiq5-menu .css-1n6sfyn-MenuList {
  @apply py-0
}

.css-1fdsijx-ValueContainer .css-1dimb5e-singleValue {
  @apply text-white
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #101010;
}

::-webkit-scrollbar-thumb {
  background: #504f51;
}

::-webkit-scrollbar-thumb:hover {
  background: #323238;
}